:root {
  --primary: #333;
  --secondary: #eee;
  --accent: rgb(255, 0, 85);
  --accent-light: #f99;
  --accent-dark: #900;
  --accent-text: #fff;
  --accent-text-light: #eee;
  --accent-text-dark: #000;
  --primary-font: 'Montserrat', sans-serif;
  --font-size: 18px;
  --line-height: 1.6;
  --spacing: 2rem;
}


/* TODO
 - Fix custom properties for style guide  
 - Follow BEM naming convention
*/


html,
body {
  margin: 0;
}

body {
  font-family: var(--primary-font);
  font-size: var(--font-size);
  color: var(--primary)
}

p {
  margin: 0;
  line-height: var(--line-height);
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2rem;
  margin: 2rem;
}

header h1 > span {
  color: var(--accent);
}

nav {
  margin-bottom: var(--spacing);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}
  
.hero {
  padding: var(--spacing) 0;
  margin: var(--spacing) 0;
}

.hero h2 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: bold;
  margin: 0;
}

ul {
  padding: 0;
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  list-style-type: none;
}

.project {
  margin-left: none;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  margin-bottom: var(--spacing);
}

.project h4 {
  margin-top: 0;
}

.project_links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project_links a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--primary);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.project_links a:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

.project_info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project_info p {
  margin: 0;
  line-height: var(--line-height);
}

.project_info a {
  display: block;
  margin-top: var(--spacing);
  text-decoration: none;
  color: var(--primary)
}


.about {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
}

.about_me {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.skills {
  margin-top: var(--spacing);
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  list-style-type: none;
}

.skills li {
  margin: 0;
  padding: 1rem 1.5rem;
  border: 1px solid var(--accent);
  border-radius: 1rem;
  background-color: #fff;
}

.contact {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
}

.contact_form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact_form input, .contact_form textarea {
  padding: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.social ul{
  display: flex;
  gap: 2rem;
  list-style-type: none;
}