:root {
  --primary: #333;
  --secondary: #eee;
  --accent: #f00;
  --accent-light: #f99;
  --accent-dark: #900;
  --accent-text: #fff;
  --accent-text-light: #eee;
  --accent-text-dark: #000;
}

/* TODO
 - Fix custom properties for style guide
  - Add custom properties for fonts
  - Add custom properties for font sizes
  - Add custom properties for line heights
  - Add custom properties for spacing
  - Add custom properties for border radius
  - Add custom properties for border width
  - Add custom properties for border color
  - Add custom properties for box shadow
  
  - Follow BEM naming convention
*/


html,
body {
  margin: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  margin-bottom: 2rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
  
.hero {
  background: #eee;
  padding: 2rem;
  margin-bottom: 2rem;
}

.hero h2 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 0;
}

ul {
  padding: 0;
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  list-style-type: none;
}

.project {
  margin-left: none;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.project_info {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.project_info p {
  margin: 0;
  line-height: 1.5;
}

.project_info a {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: #333;
}